name: Tests

on:
  push:
    branches:
    - master
  pull_request: {}

jobs:
  tox:
    strategy:
      matrix:
        include:
          - os: 'ubuntu-22.04'
            python-version: '3.8'
          - os: 'ubuntu-24.04'
            python-version: '3.9'
          - os: 'ubuntu-24.04'
            python-version: '3.10'
          - os: 'ubuntu-24.04'
            python-version: '3.11'
          - os: 'ubuntu-24.04'
            python-version: '3.12'
          - os: 'ubuntu-24.04'
            python-version: '3.13'
          - os: 'ubuntu-24.04'
            python-version: '3.14'

    runs-on: ${{ matrix.os }}

    name: Tox (Python ${{ matrix.python-version }})

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install -U pip
        pip install tox

    - uses: actions/cache@v4
      with:
        path: .tox
        key: ${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-tox-${{ hashFiles('tox.ini') }}
        restore-keys: |
          ${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-tox-

    - name: Prepare tox environment python version
      env:
        PYTHON_VERSION: ${{ matrix.python-version }}
      run: |
        echo "TOX_PYTHON_VERSION=${PYTHON_VERSION//\./}" >> $GITHUB_ENV

    - name: Run tox
      run: tox --skip-env 'py(?!${{ env.TOX_PYTHON_VERSION }})\d{2,3}-django\d{2}'
